<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>WhatDFuss!!!</title>

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>WhatDFuss</h3>
                </div>
                <ul class="list-unstyled components" id="Sources">
                   <li><a href="/sourceRoute">Source</a></li>
                </ul>
                <ul class="list-unstyled CTAs">
                    <li>
                        <a href="#Submit" id="Submit" class="btn btn-primary">Submit</a>
                    </li>
                </ul>
            </nav>